
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Email verification successful</title>
</head>
<body class="h-screen overflow-hidden flex items-center justify-center  dark:bg-gray-800  dark:text-gray-800 select-none">
    <div class="flex flex-col prose">
    
      <div class="flex justify-center items-center mb-2">
        <img src="https://res.cloudinary.com/dlecos9op/image/upload/v1612174425/pplym65h76pethpmaqwy.png" style="width: 200px;" alt="aimart logo" >
      </div>
        <p class="text-left mb-2 font-normal text-2xl">Dear Investor</p>
        <h1 class="text-blue-700 text-xl font-semibold mb-2">Email successfully verified</h1>
        <p class="text-gray-800 text-xl  mb-2">kindly click below to continue</p>
        <a href="http://localhost:3000/" class="bg-blue-800 text-white px-8 py-2 text-center font-semibold rounded-lg capitalize"> click to login</a>
        <p class="text-gray-800 text-xs pt-2"> Aimart investors</p>
    </div>
    </body>
</html>
    
    
    
